{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome to Your Website</h1>
        <p>This is the home page of your website.</p>
        <a class="btn btn-primary" href="#">Learn more</a>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec purus eget neque tristique interdum.</p>
        </div>
        <div class="col-md-4">
            <h2>Our Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec purus eget neque tristique interdum.</p>
        </div>
        <div class="col-md-4">
            <h2>Contact Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec purus eget neque tristique interdum.</p>
        </div>
    </div>
{% endblock %}

